<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/SmallMemo" version="1.0.0" viewmodes="maximized">
    <tizen:application id="oSL04EBOUl.SmallMemo" package="oSL04EBOUl" required_version="2.4"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>SmallMemo</name>
    <tizen:profile name="mobile"/>
</widget>
